<section style='width:100%; background-color:#f0eeee;display:block'>
  <Main style='width:100%;'>
    <div style='width:60%; min-height:70vh;padding:40px; margin:auto; background-color:white; font-size: 17px;'>
      <h2 style='color:rgb(39, 199, 231); padding:10px 0px; font-weight:700'>
        Thiller Travel
      </h2>
      <p>
        Hey, {{name}},
      </p>

      <div>
        <p>Kindly use the OTP bellow to activate your account.</p>
        <p><strong>Otp</strong>: <span>{{token}}</span></p>
      </div>

    </div>
    <div
      style='width:100%; border-radius:0 0 20px 20px; padding:10px 10px;  display:flex; justify-content:center; align-items:center'>
      <p style='width:100%; text-align:center;'>
        &copy;{{year}} Thiller Travel. All rights reserved.
      </p>
    </div>
  </Main>
</section>